h1 {
    color: skyblue;
    font-family: consolas;
}

h2 {
    color: skyblue;
    font-family: consolas;
}

h3 {
    color: skyblue;
    font-family: consolas;
}

th {
    background: #aaaaaa;
    font-size: 14pt;
    background: deepskyblue;
}

tr.evenRow {
    font-size: 12pt;
    font-family: consolas;
    background: ghostwhite;
}

tr.oddRow {
    font-size: 12pt;
    font-family: consolas;
    background: lightblue;
}

td {
    padding: 0px 8px
}
